.todo-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 91vh;
}

.todo-contenedor::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(35px);
}

.fondo-detail {
  width: 100%;
  height: 100%;
}

.card-contenedor {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 70%;
  max-width: 65%;
  z-index: 1;
  -webkit-box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
}

.poster-div {
  width: 100%;
  height: 100%;
}

.primer-c {
  width: 32%;
  background-color: rgba(17, 17, 17, 0.507);
}

.segundo-c {
  display: flex;
  flex-direction: column;
  width: 68%;
  padding: 1.5em;
  background-color: rgba(17, 17, 17, 0.507);
}

.movie-titulo {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 35px;
  color: rgb(226, 226, 226);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
}

.generos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.p-data {
  margin-right: 35px;
  font-size: 15px;
  margin-bottom: 10px;
  color: rgb(146, 145, 145);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
}

.overview {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.836);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
}

@media screen and (max-width: 1300px) {
  .todo-contenedor {
    height: 100vh;
  }

  .card-contenedor {
    flex-direction: row;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 80%;
  }

  .primer-c {
    width: 40%;
    height: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .card-contenedor {
    flex-direction: row;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 95%;
  }

  .primer-c {
    width: 40%;
    height: 100%;
  }

  .segundo-c {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1.5em;
  }
}

@media screen and (max-width: 740px) {
  .todo-contenedor {
    height: 110vh;
  }

  .card-contenedor {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: none;
  }

  .primer-c {
    width: 100%;
    height: 45%;
  }

  .segundo-c {
    width: 100%;
    height: 55%;
  }

  .overview {
    font-size: 15px;
  }

  .generos {
    display: flex;
    flex-direction: column;
  }
}
