.todo-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 91vh;
}

.todo-contenedor::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(35px);
}

.fondo-detail {
  width: 100%;
  height: 100%;
}

.card-contenedor {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 65%;
  height: 65%;
  z-index: 1;
  -webkit-box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 9px 31px 5px rgba(0, 0, 0, 0.67);
}

.poster-div {
  width: 100%;
  height: 100%;
}

.primer-c {
  width: 32%;
  background-color: rgb(80, 34, 34);
}

.segundo-c {
  display: flex;
  flex-direction: column;
  width: 68%;
  padding: 1.5em;
  background-color: rgb(80, 28, 28);
}

.movie-titulo {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 35px;
}

.generos {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.p-data {
  margin-right: 35px;
  font-size: 15px;
  margin-bottom: 10px;
  color: gray;
}

.overview {
  margin-top: 15px;
}

@media screen and (max-width: 1400px) {
  .card-contenedor {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 80%;
    height: 65%;
  }
}

@media screen and (max-width: 1160px) {
  .todo-contenedor {
    height: 100vh;
  }

  .card-contenedor {
    flex-direction: column;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  .primer-c {
    width: 100%;
    height: 70%;
    background-color: rgb(80, 34, 34);
  }

  .segundo-c {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
    background-color: rgb(80, 28, 28);
  }
}
