.card-container {
  padding: 0em 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  text-align: center;
  margin-top: -4em;
  margin-bottom: 2em;
}

.card {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "Ver Descripción";
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.405);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform: translateY(100%);
  transition: transform .3s;
}

.card:hover::after {
  transform: translateY(0);
}

.img-card {
  width: 100%;
  filter: saturate(120%)
}

.movie-title {
  color: rgba(255, 255, 240, 0.774);
  font-size: 14px;
  margin-top: 2px;
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  .movie-title {
    font-size: 12px;
  }
}
