.cont-footer {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 65px;
}

.div-mail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h4-name {
  color: seashell;
}

.me {
  color: white;
  font-size: smaller;
  font-weight: 800;
  margin-right: 10px;
}

.contenedor-icons {
  display: flex;
  align-items: center;
}

.contenedor-icons .li {
  margin-right: 5px;
}

.contenedor-icons .li .git:hover {
  color: crimson;
  transition: all 0.2s ease;
}

.contenedor-icons .li .link:hover {
  color: crimson;
  transition: all 0.2s ease;
}

.link {
  color: cornflowerblue;
}

.git {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 670px) {
  .contenedor-foot {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-mail {
    flex-direction: column;
  }

  .contenedor-icons .li {
    margin-top: 5px;
  }

  .me {
    margin-top: 10px;
  }

  .h4-name {
    font-size: 15px;
  }
}
