.mi-fotoperfil {
  width: 100%;
  background: rgba(0, 0, 0, 0.041);
  height: 100vh;
  position: relative;
}

.mi-fotoperfil::after {
  content: "";
  background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDw0NDQ8NDQ0NDQ0NDQ0NDQ8NDw0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0PEisZFRkrKysrKysrKysrKystKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKwBJgMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIhABAQACAAQHAAAAAAAAAAAAAAERIQJBgfEiMVFhcbHw/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AO4gAAAlvlrr6KAAAAJICgAAAAAAAAAAAAAAAM8XFZeHEtluLczw6tzfrq0AAAAAAAAAAAAAAAAAAAAAAAAAAAAACZ7qAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJfZQAAAAAgAAAAAAAAAAAAAAAAAACfvlQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAAAAJYCgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAARQAAAAAAAAAAAAEwoAAAACSqAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXPLW5yzrKgAAAAAAAAAAAAAAAmFAAAAAAAABKoAAAAA//Z");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-perfil {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 30%;
  -webkit-box-shadow: 0px 0px 96px 8px rgba(143, 137, 143, 1);
  -moz-box-shadow: 0px 0px 96px 8px rgba(143, 137, 143, 1);
  box-shadow: 0px 0px 96px 8px rgba(143, 137, 143, 1);
}

.cambiar-foto {
  color: ivory;
  font-weight: 600;
  margin-bottom: 20px;
}

.input-imagen {
  border-radius: 5px;
  border: 2px solid crimson;
  background-color: #222;
  padding: 3em;
}

.input-url {
  margin-bottom: 20px;
}

.item-1 {
  width: 90%;
  text-align: center;
  padding: 0.3em;
  background-color: rgba(255, 255, 240, 0.356);
  border: 2px solid ivory;
  border-radius: 5px;
  outline: none;
}

.btn-aceptar {
  border: none;
  padding: 0.5em;
  font-size: 13px;
  font-weight: 500;
  background-color: rgba(255, 255, 240, 0.11);
  border-bottom: 3px solid ivory;
  color: ivory;
  cursor: pointer;
}

.btn-aceptar:hover {
  border: none;
  padding: 0.5em;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  border-bottom: 3px solid crimson;
  color: crimson;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .content-perfil {
    width: 90%;
  }

  .item-1 {
    width: 100%;
  }

  .btn-aceptar {
   
    font-size: 12px;
    font-weight: 500;
   
  }
}
