.spinner {
  display: flex;
  justify-content: center;
  margin: 25em;
  color: white;
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 740px) {
  .spinner {
    display: flex;
    justify-content: center;
    margin: 15em;
    color: white;
  }
}
